.column-margin figcaption, .margin-caption, div.aside, aside, .column-margin {
    color: #5a6570;
    font-size: .625rem;
}
.sidebar-title {
    margin-top: .25rem;
    padding-bottom: .5rem;
    font-size: .76rem;
    line-height: 1rem;
    visibility: visible;
}

.sidebar-item-container .chapter-number {
    color: #212529;
    font-size: .7rem;
}

.title .chapter-number {
    color: #212529;
    font-size: 1.5rem;
}
body {
    font-size: .9rem
}

.title .chapter-title {
    font-style: italic;
    font-family: 'Minion Pro', 'Crimson', serif;
}

.blockquote {
    font-size: smaller;
    padding-left: 2rem;
    padding-right: 1.5rem;
    color: #5a6570;
    margin-left: 4cm;
    border-left: none
}